@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    grid-template-areas: "sidebar navbar" "sidebar main";
    grid-template-columns: 0.5fr 3fr;
}

aside {
    grid-area: sidebar;
    height: 100vh;
    padding: 10px;
    width: 250px;
    background-color: rgb(4, 188, 249);
}

.side-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.side-title .icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    filter: invert(98%) sepia(54%) saturate(0%) hue-rotate(323deg) brightness(108%) contrast(101%);
}

.side-title .text {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.side-main {
    margin-bottom: 20px;
}

.side-main .item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.side-main .item:hover {
    background-color: black;
}

.side-main .icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    filter: invert(98%) sepia(54%) saturate(0%) hue-rotate(323deg) brightness(108%) contrast(101%);
}

.side-main .text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.side-footer .item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.side-footer .item:hover {
    background-color: black;
}

.side-footer .icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    filter: invert(98%) sepia(54%) saturate(0%) hue-rotate(323deg) brightness(108%) contrast(101%);
}

.side-footer .text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

nav {
    grid-area: navbar;
}

nav .second-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.second-line .greet {
    display: flex;
    align-items: center;
    margin-right: 30%;
}

.second-line .greet .cat-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.second-line .greet .text {
    padding: 10px;
}

.second-line .greet .text .one {
    font-size: 14px;
    font-weight: bold;
}

.second-line .greet .text .two {
    font-size: 24px;
    font-weight: bold;
}

.second-line .list-item {
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: rgb(4, 188, 249);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    width: 10%;
}










main {
    background-color: rgb(225, 225, 229);
    grid-area: main;
}