@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    grid-template-areas: "sidebar navbar" "sidebar main";
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 250px 3fr;
}

aside {
    grid-area: sidebar;
    padding: 10px;
    width: 250px;
    background-color: rgb(4, 188, 249);
}

.side-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.side-title .icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    filter: invert(98%) sepia(54%) saturate(0%) hue-rotate(323deg) brightness(108%) contrast(101%);
}

.side-title .text {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.side-main {
    margin-bottom: 20px;
}

.side-main .item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.side-main .item:hover {
    background-color: black;
}

.side-main .icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    filter: invert(98%) sepia(54%) saturate(0%) hue-rotate(323deg) brightness(108%) contrast(101%);
}

.side-main .text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.side-footer .item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.side-footer .item:hover {
    background-color: black;
}

.side-footer .icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    filter: invert(98%) sepia(54%) saturate(0%) hue-rotate(323deg) brightness(108%) contrast(101%);
}

.side-footer .text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

nav {
    grid-area: navbar;
    display: grid;
    grid-template-areas: "search notifications" "logo menu";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr;
}

.greet {
    grid-area: logo;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 20px;
}

.greet .cat-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.greet .text {
    padding: 10px;
}

.greet .text .one {
    font-size: 14px;
    font-weight: bold;
}

.greet .text .two {
    font-size: 24px;
    font-weight: bold;
}

.nav-items {
    grid-area: menu;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items .list-item {
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: rgb(4, 188, 249);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    width: 20%;
}

.search-bar {
    grid-area: search;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.search-bar img {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

.search-bar input {
    background-color: rgb(225, 225, 229);
    text-decoration: none;
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 600px;
}

.search-bar input:focus {
    outline: none;
    border: none;
}

.notifications {
    grid-area: notifications;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.notifications .bell {
    width: 25px;
    height: 25px;
}

.notifications .cat {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.notifications .text {
    font-size: 18px;
    font-weight: bold;
}

main {
    background-color: rgb(225, 225, 229);
    grid-area: main;
    display: grid;
    grid-template-areas: "projects anncs" "projects trends";
}

main .projects {
    grid-area: projects;
    display: grid;
    grid-template-areas:
        "header header"
        "project-one project-two"
        "project-three project-four"
        "project-five project-six";
    gap: 10px;
    padding: 20px;
}

main .projects .project-one {
    grid-area: project-one;
}

main .projects .project-two {
    grid-area: project-two;
}

main .projects .project-three {
    grid-area: project-three;
}

main .projects .project-four {
    grid-area: project-four;
}

main .projects .project-five {
    grid-area: project-five;
}

main .projects .project-six {
    grid-area: project-six;
}

main .projects .project-title {
    grid-area: header;
}

main .title {
    color: rgb(29, 29, 29);
    font-size: 20px;
    font-weight: bold;
}

main .project-box {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 200px;
    width: 370px;
    background-color: #fff;
    padding: 30px 10px 20px 20px;
    margin-bottom: 20px;
    border-left: 5px solid rgb(255, 196, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main .project-box .images {
    justify-self: end;
    align-self: end;
}

main .project-box .images img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

main .project-box p {
    color: #6f6f6f;
}

main .announcements {
    grid-area: anncs;
    padding: 20px;
}

main .ann-box {
    height: 320px;
    width: 270px;
    background-color: #fff;
    padding: 15px 30px 30px 30px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main .ann-box .box {
    border-bottom: 2px solid #c4c3c3;
}

main .ann-box .box-three {
    border-bottom: none;
}

main .ann-box p {
    padding: 5px 0 10px 0;
}

main .ann-box h6 {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}

main .ann-box p {
    font-size: 12px;
    color: #6f6f6f;
}

main .trending {
    grid-area: trends;
    padding: 20px;
}

main .trending-box {
    height: 300px;
    width: 270px;
    background-color: #fff;
    padding: 15px 30px 30px 30px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main .trending-box img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

main .trending-box .animal {
    display: flex;
    align-items: center;
}

main .trending-box .text {
    padding: 15px;
}

main .trending-box .text .one {
    font-size: 14px;
}

main .trending-box .text .two {
    font-size: 14px;
    color: #6f6f6f;
}