@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

aside {
    height: 100vh;
    padding: 10px;
    width: 250px;
    background-color: rgb(4, 188, 249);
}

.side-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.side-title .icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    filter: invert(98%) sepia(54%) saturate(0%) hue-rotate(323deg) brightness(108%) contrast(101%);
}

.side-title .text {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.side-main {
    margin-bottom: 20px;
}

.side-main .item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.side-main .item:hover {
    background-color: black;
}

.side-main .icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    filter: invert(98%) sepia(54%) saturate(0%) hue-rotate(323deg) brightness(108%) contrast(101%);
}

.side-main .text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.side-footer .item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.side-footer .item:hover {
    background-color: black;
}

.side-footer .icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    filter: invert(98%) sepia(54%) saturate(0%) hue-rotate(323deg) brightness(108%) contrast(101%);
}

.side-footer .text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}